.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  min-height: 12vh;
  background-color: rgb(3, 3, 3);
  text-align: center;
  align-items: center;
}

.header__Title {
  font-size: 1.4rem;
  color: white;
  border-bottom: 2px solid white;
  padding: 0;
}

.header__Right {
  margin-left: 30px;
}

.header__Right a {
  margin-left: 20px;
  text-decoration: none;
  border: 1px solid whitesmoke;
  padding: 6px;
  color: white;
  font-weight: 600;
  font-size: 1rem;
}

.header__Right a:hover {
  background-color: rgb(44, 6, 180);
}
